@charset "utf-8";
/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td,
main,
canvas {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
/* 重置文本格式元素 */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  text-decoration: underline;
}
abbr[title],
acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}
/* 重置表单元素 */
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: none;
}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}
body,
button,
input {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
.clear {
  clear: both;
}
.clear::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
@font-face {
  font-family: 'iconfont';
  /* project id 678263 */
  src: url('//at.alicdn.com/t/font_678263_o5y9hzi52p0newmi.eot');
  src: url('//at.alicdn.com/t/font_678263_o5y9hzi52p0newmi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_678263_o5y9hzi52p0newmi.woff') format('woff'), url('//at.alicdn.com/t/font_678263_o5y9hzi52p0newmi.ttf') format('truetype'), url('//at.alicdn.com/t/font_678263_o5y9hzi52p0newmi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  height: 110px;
  position: relative;
}
header .common-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #121212;
  height: 110px;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
  z-index: 9999;
}
header .common-header .max-width-menu {
  line-height: 110px;
  max-width: 1280px;
  padding: 0 100px;
  margin: 0 auto;
  position: relative;
}
header .common-header .max-width-menu .logo {
  width: 138px;
  height: 110px;
  color: #FFF;
  border: 1px solid #FFF;
}
header .common-header .max-width-menu .menu-all {
  margin-left: 30px;
  font-size: 22px;
  color: #FFF;
  padding-right: 33px;
  position: relative;
  cursor: pointer;
}
header .common-header .max-width-menu .menu-all::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  border-top: 8px solid #FFF;
  border-bottom: 0px solid #FFF;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: transform ease .3s;
}
header .common-header .max-width-menu .menu-all.active::before {
  transform: rotate(-180deg);
}
header .common-header .max-width-menu .menu-list {
  width: 876px;
  padding-top: 28px;
}
header .common-header .max-width-menu .menu-list a {
  color: #FFF;
  font-size: 18px;
  display: block;
  margin-right: 35px;
  float: left;
  line-height: 1em;
  margin-top: 18px;
  padding-bottom: 28px;
}
header .common-header .max-width-menu .menu-list a:hover {
  text-decoration: none;
}
header .common-header .max-width-menu .menu-list a:nth-child(7n) {
  margin-right: 0;
}
.common-footer {
  background-color: #000;
  position: relative;
}
.common-footer .content-list {
  width: 1280px;
  position: relative;
  overflow: hidden;
  padding-top: 95px;
  margin: 0 auto;
}
.common-footer .content-list .e-mail-icon {
  position: relative;
  width: 972px;
  margin: 0 auto;
}
.common-footer .content-list .e-mail-icon .e-mail {
  width: 100%;
  display: block;
  border: 1px solid #FFF;
  padding: 10px 20px;
  line-height: 56px;
  background-color: transparent;
  color: #FFF;
}
.common-footer .content-list .e-mail-icon .iconfont {
  position: absolute;
  right: -4px;
  top: 22px;
  color: #FFF;
  font-size: 34px;
}
.common-footer .content-list .href-list {
  height: 328px;
}
.common-footer .content-list .copy-right {
  font-size: 24px;
  color: #FFF;
  text-align: center;
  line-height: 1em;
  padding-bottom: 46px;
}
@media screen and (max-width: 1480px) {
  header .common-header .max-width-menu .menu-list {
    width: 738px;
  }
  header .common-header .max-width-menu .menu-list a:nth-child(6n) {
    margin-right: 0;
  }
  header .common-header .max-width-menu .menu-list a:nth-child(7n) {
    margin-right: 35px;
  }
}
