@charset "utf-8";
/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td,
main,
canvas {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
/* 重置文本格式元素 */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  text-decoration: underline;
}
abbr[title],
acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}
/* 重置表单元素 */
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: none;
}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}
body,
button,
input {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
.clear {
  clear: both;
}
.clear::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
@font-face {
  font-family: 'iconfont';
  /* project id 678263 */
  src: url('//at.alicdn.com/t/font_678263_o5y9hzi52p0newmi.eot');
  src: url('//at.alicdn.com/t/font_678263_o5y9hzi52p0newmi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_678263_o5y9hzi52p0newmi.woff') format('woff'), url('//at.alicdn.com/t/font_678263_o5y9hzi52p0newmi.ttf') format('truetype'), url('//at.alicdn.com/t/font_678263_o5y9hzi52p0newmi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  height: 70px;
  position: relative;
}
header .common-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #121212;
  height: 70px;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
  z-index: 9999;
}
header .common-header .max-width-menu {
  line-height: 70px;
  max-width: 1280px;
  padding: 0 100px;
  margin: 0 auto;
  position: relative;
}
header .common-header .max-width-menu .phone-all-list,
header .common-header .max-width-menu .phone-line-three {
  display: none;
}
header .common-header .max-width-menu .logo {
  width: 138px;
  height: 70px;
  color: #FFF;
}
header .common-header .max-width-menu .menu-all {
  font-size: 14px;
  color: #FFF;
  padding-right: 33px;
  position: relative;
  cursor: pointer;
}
header .common-header .max-width-menu .menu-all::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  border-top: 8px solid #FFF;
  border-bottom: 0px solid #FFF;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: transform ease .3s;
}
header .common-header .max-width-menu .menu-all.active::before {
  transform: rotate(-180deg);
}
header .common-header .max-width-menu .menu-list {
  width: 654px;
  padding-top: 10px;
}
header .common-header .max-width-menu .menu-list a {
  color: #FFF;
  font-size: 14px;
  display: block;
  margin-right: 35px;
  float: left;
  line-height: 1em;
  margin-top: 18px;
  padding-bottom: 28px;
}
header .common-header .max-width-menu .menu-list a:hover {
  text-decoration: none;
}
.common-footer {
  background-color: #000;
  position: relative;
}
.common-footer .content-list {
  width: 1280px;
  position: relative;
  overflow: hidden;
  padding-top: 95px;
  margin: 0 auto;
}
.common-footer .content-list .e-mail-icon {
  position: relative;
  width: 972px;
  margin: 0 auto;
}
.common-footer .content-list .e-mail-icon .e-mail {
  width: 100%;
  display: block;
  border: 1px solid #FFF;
  padding: 10px 20px;
  line-height: 56px;
  background-color: transparent;
  color: #FFF;
}
.common-footer .content-list .e-mail-icon .iconfont {
  position: absolute;
  right: -4px;
  top: 22px;
  color: #FFF;
  font-size: 34px;
}
.common-footer .content-list .href-list {
  height: 328px;
}
.common-footer .content-list .copy-right {
  font-size: 24px;
  color: #FFF;
  text-align: center;
  line-height: 1em;
  padding-bottom: 46px;
}
@media screen and (max-width: 1320px) {
  header .common-header .max-width-menu {
    padding: 0 30px;
  }
  header .common-header .max-width-menu .menu-all {
    padding-right: 28px;
    margin-left: 12px;
  }
  header .common-header .max-width-menu .menu-list {
    width: 560px;
  }
  .common-footer .content-list {
    width: 980px;
  }
  .common-footer .content-list .e-mail-icon {
    width: 820px;
  }
  .common-footer .content-list .e-mail-icon .e-mail {
    width: 780px;
    line-height: 38px;
  }
  .common-footer .content-list .e-mail-icon .iconfont {
    right: 10px;
    top: 14px;
  }
  .common-footer .content-list .copy-right {
    font-size: 18px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  header .common-header .max-width-menu {
    padding: 0 30px;
  }
  header .common-header .max-width-menu .menu-all {
    padding-right: 18px;
    margin-left: 12px;
  }
  header .common-header .max-width-menu .menu-all::before {
    right: 0;
    top: 50%;
    margin-top: -4px;
    border-top: 8px solid #FFF;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  header .common-header .max-width-menu .menu-list {
    width: 450px;
  }
  header .common-header .max-width-menu .menu-list a {
    margin-right: 12px;
  }
  .common-footer .content-list {
    width: 680px;
  }
  .common-footer .content-list .e-mail-icon {
    width: 620px;
  }
  .common-footer .content-list .e-mail-icon .e-mail {
    width: 580px;
    line-height: 28px;
  }
  .common-footer .content-list .e-mail-icon .iconfont {
    right: 10px;
    top: 9px;
  }
  .common-footer .content-list .copy-right {
    font-size: 14px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 750px) {
  * {
    box-sizing: border-box;
  }
  header {
    height: 1.17333333rem;
  }
  header .common-header {
    line-height: 1.17333333rem;
    height: 1.17333333rem;
    width: 10rem;
  }
  header .common-header .max-width-menu {
    line-height: 1.17333333rem;
    height: 1.17333333rem;
    padding: 0 .3rem;
    width: 10rem;
    background-color: #FFF;
  }
  header .common-header .max-width-menu .phone-line-three {
    display: block;
    width: 0.52rem;
    height: 0.33333333rem;
    margin-top: 0.34rem;
    margin-right: .3rem;
    line-height: 1em;
  }
  header .common-header .max-width-menu .logo {
    width: 1.472rem;
    height: 1.17333333rem;
    color: #000;
    position: absolute;
    left: 50%;
    margin-left: -0.73333333rem;
  }
  header .common-header .max-width-menu .menu-all {
    display: none;
  }
  header .common-header .max-width-menu .menu-list {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 1.17333333rem;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0;
    width: 10rem;
  }
  header .common-header .max-width-menu .menu-list .phone-all-list {
    background-color: #FFF;
    line-height: 1.26666667rem;
    position: relative;
    font-size: 0.34666667rem;
    text-indent: .7rem;
  }
  header .common-header .max-width-menu .menu-list .phone-all-list::after {
    content: "";
    width: 0.18666667rem;
    height: 0.18666667rem;
    position: absolute;
    left: .3rem;
    top: 0.54rem;
    background-color: #000;
    border-radius: 50%;
  }
  header .common-header .max-width-menu .menu-list .clear {
    background-color: #FFF;
    padding-left: 0.4rem;
  }
  header .common-header .max-width-menu .menu-list .clear a {
    color: #000;
    width: 1.93333333rem;
    margin-right: 0.42666667rem;
    font-size: 0.32rem;
    line-height: 0.73333333rem;
    height: 0.73333333rem;
    position: relative;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0.6rem;
  }
  header .common-header .max-width-menu .menu-list .clear a:nth-child(4n) {
    margin-right: 0;
  }
  header .common-header .max-width-menu .menu-list .clear a::after {
    content: "";
    width: 5.8rem;
    height: 2.2rem;
    border: 1px solid #000;
    border-radius: .3rem;
    transform: scale(0.333333);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left top;
  }
  header .common-header .max-width-menu .menu-list .clear a.active {
    color: #FFF;
    background-color: #000;
    border-radius: .1rem;
  }
  header .common-header .max-width-menu .menu-list .clear a.active::after {
    display: none;
  }
  .common-footer .content-list {
    width: 10rem;
    padding-top: 1.26666667rem;
  }
  .common-footer .content-list .e-mail-icon {
    width: 8.8rem;
  }
  .common-footer .content-list .e-mail-icon .e-mail {
    width: 100%;
  }
  .common-footer .content-list .href-list {
    height: 4.37333333rem;
    padding: .3rem;
    line-height: 0.54666667rem;
    font-size: 0.34666667rem;
  }
  .common-footer .content-list .href-list .iconfont {
    font-size: 0.90666667rem;
    right: 0.26666667rem;
    top: 0.21333333rem;
  }
}
