.position-absolute-search {
  position: relative;
  height: 147px;
  background-color: #F7F7F7;
  padding-top: 97px;
}
.position-absolute-search .position-relative {
  width: 785px;
  margin: 0 auto;
  position: relative;
}
.position-absolute-search .position-relative .search {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #FFF;
  display: block;
  line-height: 30px;
  font-size: 14px;
  padding: 10px 20px;
  color: #000;
  background-color: #FFF;
}
.position-absolute-search .position-relative .iconfont {
  position: absolute;
  right: -24px;
  top: 11px;
  font-size: 28px;
  color: #000;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.search-result-success .search-content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.search-result-success .search-content .search-text-total {
  padding-top: 36px;
  padding-bottom: 32px;
  line-height: 1em;
  font-size: 14px;
  color: #000;
}
.search-result-success .search-content .iconfont {
  font-size: 14px;
  transform: rotate(-90deg);
  display: inline-block;
  color: #c2c2c2;
  padding: 0 3px;
}
.search-result-success .search-content .result-list a {
  display: block;
  border-top: 8px solid #F7F7F7;
  padding-top: 67px;
  padding-bottom: 36px;
}
.search-result-success .search-content .result-list a:hover {
  text-decoration: none;
}
.search-result-success .search-content .result-list a .total-title {
  width: 302px;
  float: left;
  line-height: 60px;
  height: 60px;
  overflow: hidden;
  box-shadow: 0 2px 10px 0 #e2e2e2;
  border-radius: 3px;
  position: relative;
}
.search-result-success .search-content .result-list a .total-title .image {
  width: 35px;
  height: 35px;
  display: inline-block;
  padding: 0 19px;
  vertical-align: top;
  margin-top: 12px;
}
.search-result-success .search-content .result-list a .total-title span {
  display: inline-block;
  padding-right: 48px;
  color: #000;
  font-size: 16px;
  width: 170px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 60px;
}
.search-result-success .search-content .result-list a .total-title .iconfont {
  font-size: 24px;
  color: #000;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 18px;
  padding: 0;
  transform-origin: center;
}
.search-result-success .search-content .result-list a .content-text {
  width: 913px;
  float: right;
  text-align: justify;
  font-size: 14px;
  line-height: 1.4em;
  color: #000;
}
.search-result-success .search-content .result-list .get-load-more {
  width: 260px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 22px;
  color: #FFF;
  background-color: #000;
  margin: 70px auto 120px auto;
  cursor: pointer;
}
@media screen and (max-width: 1330px) {
  .search-result-success .search-content {
    width: 960px;
  }
  .search-result-success .search-content .result-list a .content-text {
    width: 600px;
  }
  .search-result-success .search-content .result-list .get-load-more {
    width: 240px;
    font-size: 18px;
  }
  .position-absolute-search .position-relative {
    width: 900px;
  }
  .position-absolute-search .position-relative .search {
    box-sizing: border-box;
  }
  .position-absolute-search .position-relative .iconfont {
    right: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .search-result-success .search-content {
    width: 9.4rem;
  }
  .search-result-success .search-content .result-list a .content-text {
    width: 5.859375rem;
  }
  .search-result-success .search-content .result-list a .total-title {
    width: 2.94921875rem;
  }
  .search-result-success .search-content .result-list a .total-title span {
    width: 1.66015625rem;
    padding-right: 0;
  }
  .search-result-success .search-content .result-list a .total-title .image {
    padding: 0 0.25333333rem;
  }
  .search-result-success .search-content .result-list .get-load-more {
    width: 200px;
    line-height: 50px;
    height: 50px;
    font-size: 16px;
  }
  .position-absolute-search .position-relative {
    width: 9rem;
  }
  .position-absolute-search .position-relative .search {
    box-sizing: border-box;
  }
  .position-absolute-search .position-relative .iconfont {
    right: 16px;
  }
}
@media screen and (max-width: 750px) {
  .position-absolute-search {
    height: 3.2rem;
    padding-top: 1.02666667rem;
  }
  .position-absolute-search .position-relative {
    width: 9rem;
  }
  .position-absolute-search .position-relative .search {
    line-height: 0.66666667rem;
    font-size: 0.34666667rem;
    padding: 0.24rem 0.26666667rem;
  }
  .position-absolute-search .position-relative .iconfont {
    right: 0.21333333rem;
    top: 0.29333333rem;
    font-size: 0.50666667rem;
  }
  .search-result-success .search-content {
    width: 9rem;
  }
  .search-result-success .search-content .result-list a {
    padding-top: 0.6rem;
    padding-bottom: 0.30666667rem;
    border-top: 0.10666667rem solid #F7F7F7;
  }
  .search-result-success .search-content .result-list a .content-text {
    float: none;
    width: 100%;
    padding-top: 0.6rem;
    font-size: 0.32rem;
  }
  .search-result-success .search-content .result-list a .total-title {
    width: 2.8rem;
    float: none;
    height: 1.2rem;
    line-height: 1.2rem;
    padding-left: 0.16rem;
    box-shadow: 0 1px 2px 0 #e2e2e2;
  }
  .search-result-success .search-content .result-list a .total-title .iconfont {
    display: none;
  }
  .search-result-success .search-content .result-list a .total-title span {
    font-size: 0.34666667rem;
    width: 1.66015625rem;
    padding-right: 0;
  }
  .search-result-success .search-content .result-list a .total-title .image {
    padding: 0;
    width: 0.50666667rem;
    height: 0.50666667rem;
    margin-top: 0.32rem;
  }
  .search-result-success .search-content .result-list .get-load-more {
    width: 3.2rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.29333333rem;
    margin: 0.93333333rem auto 1.6rem auto;
  }
  .search-result-success .search-content .search-text-total {
    font-size: 0.32rem;
    padding-top: 0.4rem;
    padding-bottom: 0.41333333rem;
  }
  .search-result-success .search-content .search-text-total .iconfont {
    font-size: 0.32rem;
  }
}
